{% extends "base.html" %}

{% block content %}
<header>
    <!-- header inner -->
    <div class="header">
    <div class="container-fluid">
       <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
             <div class="full">
                <div class="center-desk">
                   <div class="logo">
                     <img src="static/images/resapp-no-bg.gif" alt="#" width="200" height="200" />
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>
</header>
<h1 class="title">
    Welcome, {{name}} to Resapp!
</h1>
<h1 class="title">
    Please download our mobile application to use our product
</h1>
<div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Our app features:</h1>
            <h2>Keep track of your job application</h2>
            <h2>Create digitalized resume to bring to recruiter</h2>
            <h2>For technical support, please contact: resapp.sp@gmail.com</h2>
            <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
            <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}